{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/survey.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="survey-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1>Questionnaire</h1>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center">
                        <p id="welcome">Bienvenue</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center">
                        <div class="round-number">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.75 31.75"><defs><style>.cls-13{fill:#f4434e;}.cls-23{fill:#d0434e;}</style></defs><title>Fichier 4</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><circle class="cls-13" cx="15.87" cy="15.87" r="15.87"/><path class="cls-23" d="M31.75,15.87A15.87,15.87,0,1,1,0,15.88c0-.25,0-.5,0-.75a15.87,15.87,0,0,0,31.7,0C31.74,15.37,31.75,15.63,31.75,15.87Z"/><path class="cls-13" d="M31.73,15.06v.07a15.87,15.87,0,0,1-31.7,0v-.07a15.87,15.87,0,0,1,31.7,0Z"/></g></g></svg>                
                            <p id="number">1</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center">
                        <p id="you">Parle nous de toi, <br> tes domaines professionnels</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center">
                        <h2>
                            Quels sont les domaines qui <br> t'intéressent ?
                        </h2>
                    </div>
                </div>
            </div>

                <div class="col-12 ml-4 selector">
                    {% set index = 1 %}
                    {% for jobCategory in jobCategories %}
                        <div class="mb-2 align-middle block-job">
                            <div class="logo">
                                {# <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5.9"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Fichier 1</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M2.1,5.3c0-1.6-.6-2.4-1.9-2.6-.1,0-.1,0-.2.1H0C0,4.1.7,5.4,1.9,5.4c.2,0,.2,0,.2-.1Z"/><path class="cls-1" d="M3.9,2.7H3.8A2.16,2.16,0,0,0,2.2,3.8a3.34,3.34,0,0,1,.3,1.5v.1C3.5,5.2,4,4,4,2.8Z"/><path class="cls-1" d="M2,3.5a2.15,2.15,0,0,1,1.2-.9C3.1,1.8,2.9,0,2,0S.8,1.9.8,2.6A1.78,1.78,0,0,1,2,3.5Z"/><path class="cls-1" d="M1.4,5.6v.2a.1.1,0,0,0,.1.1h.8a.1.1,0,0,0,.1-.1h0V5.6A1.67,1.67,0,0,1,1.4,5.6Z"/></g></g></svg> #}
                                <img src="{{ asset('images/icon/Fichier '~index~'.svg') }}" alt="">
                            </div>
                            <div class="category">
                                <div class="category-label">
                                    {{ jobCategory.label }}
                                </div>
                            </div>
                        </div>
                        {% set index = index+1 %}
                    {% endfor %}

                    <div class="mt-2 text-center take-all">
                        <button class="btn">Tout est bon à prendre</button>
                    </div>
                </div>
        </div>

        <div class="">
            <div class="mt-4 text-center next">
                <a href="{{ path('questionnaire-2') }}" id="next-step">Etape suivante</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/survey.js') }}"></script>
{% endblock %}