{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/survey.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="survey-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1>Questionnaire</h1>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <p id="welcome">Bienvenue</p>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <div class="round-number">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.75 31.75"><defs><style>.cls-13{fill:#f4434e;}.cls-23{fill:#d0434e;}</style></defs><title>Fichier 4</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><circle class="cls-13" cx="15.87" cy="15.87" r="15.87"/><path class="cls-23" d="M31.75,15.87A15.87,15.87,0,1,1,0,15.88c0-.25,0-.5,0-.75a15.87,15.87,0,0,0,31.7,0C31.74,15.37,31.75,15.63,31.75,15.87Z"/><path class="cls-13" d="M31.73,15.06v.07a15.87,15.87,0,0,1-31.7,0v-.07a15.87,15.87,0,0,1,31.7,0Z"/></g></g></svg>                
                        <p id="number">2</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <p id="you">Et les études, <br> ça donne quoi ?</p>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <h2>
                        Quel diplôme as-tu décroché ?
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-12 ml-4 selector">
            {% for study in studies %}
                <div class="mb-2 align-middle block-job">
                    <div class="category">
                        <div class="category-label">
                            {{ study.label }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="">
        <div class="mt-4 text-center next">
            <a href="{{ path('user_inscription') }}" id="next-step">Etape suivante</a>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/survey.js') }}"></script>
{% endblock %}