{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	
	<h1 class="title-forum">Connexion</h1>

	<div class="row">
		<div class="col col-12">
			<form id="formConnectUser" action="{{ path('user_connexion') }}" method="post">

				<div class="form-group">
					<div class="input-group input-group-red">
					  	<div class="input-group-prepend">
					    	<span class="input-group-text">
					    		<img style="width: 14px;" src="{{ asset('images/icon/nom_utilisateur.svg') }}">
					    	</span>
					 	</div>
					  	<input type="text" class="form-control" placeholder="E-mail ou nom d'utilisateur" name="_username">
					</div>
					<label data-label="username_not_defined" class="error">Le champ n'est pas défini.</label>
				</div>

				<div class="form-group">
					<div class="input-group input-group-red">
					  	<div class="input-group-prepend">
					    	<span class="input-group-text">
					    		<img style="width: 15px;" src="{{ asset('images/icon/motdepasse.svg') }}">
					    	</span>
					 	</div>
					  	<input type="password" class="form-control" placeholder="Votre mot de passe ..." name="_password">
					</div>
					<label data-label="password_not_defined" class="error">Le champ n'est pas défini.</label>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

				<div class="form-group text-center">
					<button class="btn btn-black btn-connect-user" type="button">Se connecter</button>
				</div>

				<p class="text-center"><a href="{{path('password_forget')}}">Mot de passe oublié ?</a></p>

				<img class="connexion-logo" src="{{ asset('images/aldevlogo.png') }}">

			</form>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/user.js') }}"></script>
	{% if error %}
		<script type="text/javascript">
			connexionInvalid();
		</script>
	{% endif %}
{% endblock %}