{% extends 'base.html.twig' %}

{% block title %}
	Inscription validé
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	
	

	<div class="row">
		<div class="col col-12">
			<div class="inscription-valid-logo-container">
				<img class="inscription-valid-logo" src="{{ asset('images/rond-02.svg') }}">
			</div>
			<h1 class="big-title-forum">Félicitations !</h1>
			<p class="comment-title">Ton inscription à bien été pris en compte !</p>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/user.js') }}"></script>
{% endblock %}