{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	
	<div class="row">
		<div class="col col-12">
			<h1 class="title-forum">Inscription</h1>
			<p class="text-center">
				<span class="text-red">Inscris toi ici,</span>
				tu auras accès à l’ensemble de ses 
				offres et plus encore…
			</p>

			<form id="formRegisterUser">

				<div class="register-first-step">

					<h1 class="sub-title-forum">Étape 1</h1>

					<p class="text-center">Dis-nous qui tu es ?</p>

					<div class="form-group">
						<input type="text" name="user_nom" class="form-control input-border-bottom" placeholder="Nom">
						<label data-label="nom_not_defined" class="error">Le champ n'est pas défini.</label>
					</div>

					<div class="form-group">
						<input type="text" name="user_prenom" class="form-control input-border-bottom" placeholder="Prénom">
						<label data-label="prenom_not_defined" class="error">Le champ n'est pas défini.</label>
					</div>

					<div class="form-group">
						<input type="text" name="user_tel" class="form-control input-border-bottom" placeholder="Téléphone">
						<label data-label="tel_not_defined" class="error">Le champ n'est pas défini.</label>
					</div>

					<div class="form-group">
						<div class="border-bottom-form">
							Âge
							<div class="container-user-age">
								<select name="user_age" style="width:120px;">
									<option value="">Ton âge</option>
									{% for age in 0..99 %}
									   <option value="{{age}}">{{age}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<label data-label="age_not_defined" class="error">Le champ n'est pas défini.</label>
					</div>


					<div class="form-group">
						<div class="border-bottom-form hidden">
							<label>Sexe</label>
							<div class="register-radio-container">
								<label>Homme<input type="radio" value="H" name="user_sexe"></label>
								<label>Femme<input type="radio" value="F" name="user_sexe"></label>
							</div>
						</div>
					</div>

					<div class="form-group text-center">
						<button class="btn btn-black btn-show-second-step" type="button">Poursuivre l'inscription</button>
					</div>
					

				</div>
				<div class="register-second-step">

					<h1 class="sub-title-forum">Étape 2</h1>

					<p class="text-center">Informations de connexion</p>

					<div class="form-group">
						<input type="text" name="username" class="form-control input-border-bottom" placeholder="Nom d'utilisateur">
						<label data-label="username_not_defined" class="error">Le champ n'est pas défini.</label>
						<label data-label="username_already_use" class="error">Le nom d'utilisateur est déja utilisé.</label>
					</div>

					<div class="form-group">
						<input type="text" name="email" class="form-control input-border-bottom" placeholder="E-mail">
						<label data-label="email_not_defined" class="error">Le champ n'est pas défini.</label>
						<label data-label="email_already_use" class="error">L'adresse email est déja utilisée.</label>
					</div>

					<div class="form-group">
						<input type="password" name="password" class="form-control input-border-bottom" placeholder="Mot de passe">
						<label data-label="password_not_defined" class="error">Le champ n'est pas défini.</label>
					</div>

					<div class="form-group">
						<input type="password" name="confirm_password" class="form-control input-border-bottom" placeholder="Confirmation de mot de passe">
						<label data-label="confirm_password_not_defined" class="error">Le champ n'est pas défini.</label>
				    	<label data-label="password_length" class="error">Le mot de passe doit contenir au minimum 10 caractères.</label>
				    	<label data-label="password_number" class="error">Le mot de passe doit contenir au minimum 1 chiffre.</label>
				    	<label data-label="password_letter" class="error">Le mot de passe doit contenir au minimum 1 lettre.</label>
				    	<label data-label="password_not_confirm_password" class="error">Le mot de passe et le mot de passe de confirmation ne sont pas pareils.</label>
					</div>

					<div class="form-group text-center">
						<button style="margin-bottom:15px;" class="btn btn-black btn-show-first-step" type="button">Retourner a l'étape précédente</button>
						<button style="margin-bottom:15px;" class="btn btn-black btn-register-user" type="button">S'inscrire</button>
					</div>

				</div>

			</form>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/user.js') }}"></script>
{% endblock %}