{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	
	<div class="row">
		<div class="col col-12">

			<h1 class="title-forum">TU AS OUBLIÉ TON MOT DE PASSE ?</h1>
			<p class="text-center color-grey">
				Pas de soucis, il te suffit juste de donner ton adresse e-mail et nous t’enverrons ton mot de passe
			</p>

			<div class="form-group">
					<div class="input-group input-group-red">
					  	<div class="input-group-prepend">
					    	<span class="input-group-text">
					    		<img style="width: 14px;" src="{{ asset('images/icon/nom_utilisateur.svg') }}">
					    	</span>
					 	</div>
					  	<input type="text" class="form-control" placeholder="E-mail ou nom d'utilisateur" name="_username">
					</div>
					<label data-label="username_not_defined" class="error">Le champ n'est pas défini.</label>
				</div>

			<div class="form-group text-center">
				<button class="btn btn-black" type="button">ENVOYER</button>
			</div>
			
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/user.js') }}"></script>
{% endblock %}