{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	
	<h1 class="title-forum">Mon Profil</h1>

	<div class="row">
		<div class="col col-12">
			
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	
{% endblock %}