.btn.btn-show-emplois{
	background-color: var(--red-bg-color);
	color: #fff!important;
	border-radius: 0;
	font-family: 'Gotham-Book';
	width: 100%;
	margin-bottom: 15px;
	text-align: left;
	text-transform:inherit;
}

.connexion-logo{
	width: 200px;
    margin-top: 80px;
    opacity: 0.3;
}

.btn.btn-show-emplois .fas{
	padding-top: 5px;
}

.container-emplois{
	display: none;
}

table{
	width: 100%;
}

.border-bottom-form{
	width: 100%;
	border-bottom: 4px solid var(--input-bg-color);
	margin-bottom: 15px;
}

.border-bottom-form td{
	padding: 10px 0;
	color: #000;
	font-weight: bold;
}

.border-bottom-form.hidden{
	border-color: transparent;
}

.btn.btn-plus-offre{
	border: 1px solid var(--red-bg-color);
	background-color: transparent;
	color: var(--red-bg-color)!important;
	border-radius: 0;
	font-family: 'Gotham-Book';
	width: 100%;
	margin-bottom: 15px;
	text-align: left;
	text-transform:inherit;
}

.color-grey{
	color: grey;
	font-weight: bold;
}

.btn.btn-tous-choix{
	border: 1px solid var(--red-bg-color);
	background-color: transparent;
	color: var(--red-bg-color)!important;
	border-radius: 0;
	font-family: 'Gotham-Book';
	width: 100%;
	margin-bottom: 15px;
	text-align: left;
	text-transform:inherit;
}

.btn.btn-plus{
    border-radius: 12px;
    background: transparent;
    border-color: gray;
    color: gray;
    font-size: 10px;
    padding: 2px 5px;
}

.btn.btn-plus.active{
	background: var(--red-bg-color);
    border-color: var(--red-bg-color);
    color: #fff;
}

.btn.btn-title-emplois{
	background-color: var(--red-bg-color);
	color: #fff!important;
	border-radius: 0;
	font-family: 'Gotham-Book';
	width: 100%;
	margin-bottom: 15px;
	text-align: left;
	text-transform:inherit;
}