.home .title{
    text-align: center;
}

.home .title #number {
    color: #F4434E;
    font-weight: bold;
    font-size: 1.5em;
}

.home .title #text-1 {
    color: #A7A7A7;
}

.home .title #text-2 {
    font-weight: bold;
    font-size: 1.5em;
    color: #25384D;
}

.home .partner {
    height: 200px;
    width: 100%;
    background-color: #F5F5F5;
}

.home .partner .yes-call{
    margin: 2em auto;
    text-align: center;
}

.home .partner .yes-call button {
    background-color: #25384D;
    color: #ffffff;
}

.home .partner .title{
    color: #A7A7A7;
}

.home .partner .title p {
    margin: 0;
}


.home .partner .img {
    text-align: center;
}

.home .partner .img img{
    width: 20%;
}

.container.parent{
    padding: 0;
}