.color-grey{
	color: grey;
}

.plan-container .plan-img-container{
	width: 315px;
	margin: 0 auto;
	position: relative;
    cursor: pointer;
}

.plan-container .plan-img{
	width: 315px;
	margin: 0;
	opacity: 0.2;
}

.plan-container{
	position: relative;
}

.plan-img-before{
	position: absolute;
}

.plan-img-before p{
	color: var(--red-bg-color);
}

.plan-img-before{
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 220px;
    width: 165px;
    font-weight: bold;
    text-align: center;
}

.zoom-plan{
	display: none;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
}

.zoom-plan.show{
	display: block;
}

.zoom-plan .plan-img{
	width: 425px;
    margin: 0 auto;
}

.btn-close-zoom-plan{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    outline: none!important;
    width: 50px;
}