a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

.error{
	color: red;
    font-style: italic;
    font-size: 12px;
	display: none;
}

img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.error-show{
	display: block;
}

nav .inner {
	width: 100%;
	height: 80px;
	background-color: #F5F5F5;
	position: absolute;
}

nav .separation {
	height: 2px;
	background-color: #DDDDDD;
}

nav .background-img {
	float: left;
	position: absolute;
	bottom: 0;
	left: -150px;
	z-index: 0;
	opacity: 0.1;
}

nav .foreground{
	z-index: 1;
	position: absolute;
	left: 15%;
}

/*===========================
	All Style
===========================*/

@font-face {
	font-family: 'Gotham-Book';
	font-style: normal;
	font-weight: normal;
	src: local('Gotham-Book'), url('../font/GothamBook.woff') format('woff');
}


@font-face {
	font-family: 'Gotham-Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Gotham-Bold'), url('../font/gotham-bold-1361523260.woff') format('woff');
}

@font-face {
	font-family: 'KG-Happy';
	font-style: normal;
	font-weight: normal;
	src: local('KG-Happy'), url('../font/KG-HAPPY.ttf.woff') format('woff');
}

:root {
  --red-bg-color: #f4434e;
  --black-bg-color: #25384d;
  --input-bg-color: #f5f5f5;
}

.title-forum{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
	font-family: 'Gotham-Bold';
}

.sub-title-forum{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
	font-family: 'Gotham-Bold';
}

.btn{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: none!important;
	border-radius: 0;
	border-style: solid!important;
	font-family: 'Gotham-Bold';
}



.input-group-red input.form-control{
	border-radius: 0;
	box-shadow: none!important;
	border: 0;
	border-bottom: 4px solid var(--input-bg-color);
}

.input-group-red input.form-control:focus{
	border-color: var(--black-bg-color);
}

.input-group.input-group-red .input-group-text{
	background-color: transparent;
	border-radius: 0;
	border-color:  transparent;
	color: #fff;
	border-bottom: 4px solid var(--input-bg-color);
}

.btn.btn-black{
	color: #fff;
	background: var(--black-bg-color);
}

.form-control.input-border-bottom{
	border-radius: 0;
	box-shadow: none!important;
	border: 0;
	border-bottom: 4px solid var(--input-bg-color);
}

.form-control.input-border-bottom:focus{
	border-color: var(--black-bg-color);
}

.form-control.input-border-bottom:focus::placeholder{
    color: transparent;
}

.text-red{
	color: var(--red-bg-color);
	font-weight: bold;
}

.container-burger {
    display: inline-block;
	cursor: pointer;
	position: relative;
	margin-top: 3em;
}

.logo{
	position: relative;
	width: 300px;
	height: 150px;
	/* margin-left: 15%; */
}

.logo.header {
	padding-right: 4.5em;
}

.bar1-burger, .bar2-burger, .bar3-burger {
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 6px 0;
    transition: 0.4s;
}

.sidenav {
    height: 100%;
	width: 100%;
    z-index: 1;
	overflow-x: hidden;
	background: #F5F5F5;
	display: inline-block;
	position: absolute;
	left: 0;
	text-align: center;
	display: none;
}

.hide {
	display: none;
}

.sidenav.show{
	display: inline-block;
}

.sidenav .cross{
	width: 35px;
	height: 35px;
	margin-left: 46%;
}

.sidenav .close-menu p{
	color: #818181;
}

svg{
	width: 100%;
	height: 100%;
}

.sidenav .links {
	text-align: center;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.hide {
	display: none;
}

.comment-title{
	font-weight: bold;
	text-align: center;
}