.container.parent{
    padding: 0;
}

.survey-1 h1 {
    color: #25384D;
    font-size: 2em;
}

.survey-1 #welcome {
    color: #A7A7A7;
}

.survey-1 #you {
    color: #25384D;
    font-size: 0.8em;
}

.survey-1 .round-number {
    width: 2.5em;
    margin: auto;
}

.survey-1 #number {
    position: absolute;
    top: 5%;
    left: 48.5%;
    color: #ffffff;
    font-size: 1.5em;
}

.survey-1 h2 {
    font-size: 1.2em;
    color: #25384D;
}

.survey-1 .category {
    background-color: #F5F5F5;
    color: #A7A7A7;
    height: 1.9em;
    width: 80%;
    float: left;
    vertical-align: top !important;
}

.survey-1 .logo {
    background-color: #F4434E;
    width: 9%;
    height: 1.9em;
    float: left;
    vertical-align: center;
}

.survey-1 .logo img {
    display: block;
    height: 100%;
    width: 50%;
}

.survey-1 .block-job {
    height: 1.9em;
}

.survey-1 .category-label {
    padding: 0.9em;
    font-size: 0.4em;
}

.survey-1 .selector {
    cursor: pointer;
}

.survey-1 .take-all{
    height: 1.9em;
}

.survey-1 .take-all button {
    background-color: #F4434E;
    color: #FFFFFF;
}

.survey-1 .next {
    background-color: #25384D;
    height: 10vh;
    padding-top: 0.8em;
    vertical-align: middle;
    color: #FFFFFF;
}

.survey-1 .next a {
    color: #FFFFFF;
    display: block;
    height: 100%;
    width: 100%;
}

.survey-1 .category-active{
    background-color: #25384D;
    color: white;
}

