.register-second-step{
	display: none;
}

.container-user-age {
	margin-left: 25px;
	display: inline-block;
}

.container-user-age .select2-container--default .select2-selection--single{
	border-radius: 0;
}

.container-user-age .select2-container,
.container-user-age .select2-selection.select2-selection--single{
	outline: none!important;
}

.container-user-age .select2-selection__arrow{
	background-color: var(--red-bg-color);
}

.container-user-age .select2-selection.select2-selection--single{
	border:0;
}

.container-user-age .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #fff transparent transparent transparent;
}

.container-user-age .select2-selection__rendered{
	background-color: var(--input-bg-color);
}

.container-user-age .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-color: transparent transparent #fff transparent;
}


.select2-dropdown.select2-dropdown--above{
	border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: var(--red-bg-color);
}

.border-bottom-form{
	width: 100%;
	border-bottom: 4px solid var(--input-bg-color);
	padding: .375rem .75rem;
	color: grey;
}

.border-bottom-form.hidden{
	border-color: transparent;
}

.register-radio-container{
	margin-left: 25px;
	display: inline-block;
}

.register-radio-container .icheckbox_minimal-red{
	margin-left: 15px;
	margin-right: 25px;
}

.connexion-logo{
	width: 200px;
    margin-top: 80px;
    opacity: 0.3;
}

.btn-connect-user{
	margin-bottom: 15px;
    margin-top: 15px;
}

.big-title-forum{
	font-size: 30px;
	text-align: center;
	margin-bottom: 15px;
	font-family: 'KG-Happy';
}

.inscription-valid-logo{
	width: 320px;
}

.inscription-valid-logo-container{
	width: 320px;
	margin: 0 auto;
}