<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Forum emploi&nbsp;|&nbsp;{% block title %}{% endblock %}</title>
    {# <link rel="icon" href="{{ asset('/favicon.ico')}}" type="image/x-icon"> #}
    <link href="{{ asset('plugins/bootstrap-4.1.3/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('plugins/fontawesome-free-5.5.0/css/all.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('plugins/select2-4.0.6-rc.1/dist/css/select2.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('plugins/icheck-1.x/skins/all.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <div class="sidenav">
                <div class="foreground">
                    <div class="logo">
                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 222.4 157.3" style="enable-background:new 0 0 222.4 157.3;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#25384D;}
                            .st1{fill:#CD434E;}
                            .st2{fill:#F4434E;}
                            .st3{fill:#FFFFFF;}
                        </style>
                        <g>
                            <g>
                                <path class="st0" d="M190.7,76.8v25c0,4.1-3.5,7.3-7.9,7.3h-99c-4.4,0-7.9-3.3-7.9-7.3v-11h7.2l12.3,11.5L93,90.7h13.5
                                    c3.2,0,5.8-3.3,5.8-7.3v-14h70.5C187.2,69.4,190.7,72.7,190.7,76.8z"/>
                            </g>
                            <g>
                                <path class="st1" d="M112.3,69.4v14c0,4-2.6,7.3-5.8,7.3H93l2.4,11.5L83.1,90.7H76v-14c0-4.1,3.5-7.3,7.9-7.3H112.3z"/>
                            </g>
                            <g>
                                <path class="st2" d="M112.3,58.4v11H83.8c-4.4,0-7.9,3.3-7.9,7.3v14H34.2c-3.2,0-5.8-3.3-5.8-7.3v-25c0-4,2.6-7.3,5.8-7.3h72.3
                                    C109.7,51.1,112.3,54.3,112.3,58.4z"/>
                            </g>
                            <g>
                                <polygon class="st0" points="168.9,109.1 156.7,120.1 157.7,109.1 		"/>
                            </g>
                            <g>
                                <g>
                                    <path class="st3" d="M40.4,67.2v2.7h6v2.5h-6v4.8h-2.8V64.7h9.5v2.5H40.4z"/>
                                </g>
                                <g>
                                    <path class="st3" d="M61.6,73.4c-0.3,0.8-0.8,1.5-1.4,2.1c-0.6,0.6-1.3,1.1-2.1,1.4c-0.8,0.3-1.7,0.5-2.7,0.5
                                        c-1,0-1.9-0.2-2.7-0.5c-0.8-0.3-1.5-0.8-2.1-1.4c-0.6-0.6-1-1.3-1.4-2c-0.3-0.8-0.5-1.6-0.5-2.5v0c0-0.9,0.2-1.7,0.5-2.5
                                        c0.3-0.8,0.8-1.5,1.4-2.1c0.6-0.6,1.3-1.1,2.1-1.4s1.7-0.5,2.7-0.5c1,0,1.9,0.2,2.7,0.5s1.5,0.8,2.1,1.4c0.6,0.6,1,1.3,1.4,2
                                        s0.5,1.6,0.5,2.5v0C62.1,71.8,62,72.7,61.6,73.4z M59.3,70.9c0-0.5-0.1-1-0.3-1.5c-0.2-0.5-0.4-0.9-0.8-1.2
                                        c-0.3-0.4-0.7-0.6-1.2-0.8c-0.5-0.2-1-0.3-1.5-0.3c-0.6,0-1.1,0.1-1.5,0.3c-0.5,0.2-0.9,0.5-1.2,0.8c-0.3,0.4-0.6,0.8-0.8,1.2
                                        c-0.2,0.5-0.3,1-0.3,1.5v0c0,0.5,0.1,1,0.3,1.5c0.2,0.5,0.4,0.9,0.8,1.2c0.3,0.4,0.7,0.6,1.2,0.8c0.5,0.2,1,0.3,1.5,0.3
                                        c0.5,0,1.1-0.1,1.5-0.3c0.5-0.2,0.9-0.5,1.2-0.8c0.3-0.4,0.6-0.8,0.8-1.2C59.2,72,59.3,71.5,59.3,70.9L59.3,70.9z"/>
                                </g>
                                <g>
                                    <path class="st3" d="M72.2,77.2l-2.7-4h-2.2v4h-2.8V64.7h5.7c1.5,0,2.6,0.4,3.5,1.1c0.8,0.7,1.2,1.7,1.2,3v0c0,1-0.2,1.8-0.7,2.5
                                        c-0.5,0.6-1.1,1.1-1.9,1.4l3.1,4.5H72.2z M72.2,69c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-0.9-0.4-1.6-0.4h-2.7v3.6h2.8
                                        c0.7,0,1.2-0.2,1.6-0.5C72,70,72.2,69.5,72.2,69L72.2,69z"/>
                                </g>
                                <g>
                                    <path class="st3" d="M87.8,74.2c-0.3,0.7-0.6,1.3-1.1,1.8c-0.5,0.5-1.1,0.8-1.7,1.1c-0.7,0.2-1.4,0.3-2.3,0.3c-1.7,0-3-0.5-4-1.4
                                        c-1-0.9-1.4-2.3-1.4-4.2v-7.1H80v7.1c0,1,0.2,1.8,0.7,2.3c0.5,0.5,1.1,0.8,2,0.8s1.5-0.2,2-0.8s0.7-1.2,0.7-2.3v-7.2h2.8v7.1
                                        C88.2,72.7,88.1,73.5,87.8,74.2z"/>
                                </g>
                                <g>
                                    <path class="st3" d="M100.8,77.2V69l-3.5,5.3h-0.1l-3.5-5.3v8.1H91V64.7h3l3.3,5.3l3.3-5.3h3v12.5H100.8z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <g>
                                        <path class="st3" d="M118.7,98.8V89h0.7v9.2h5.8v0.7H118.7z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M126.8,90.9c0.1-0.2,0.2-0.4,0.2-0.7h-0.4V89h0.9v1c0,0.4-0.1,0.8-0.3,1c-0.2,0.3-0.5,0.5-0.9,0.6l-0.2-0.4
                                            C126.5,91.2,126.7,91,126.8,90.9z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M130,98.8V89h7v0.7h-6.3v3.9h5.6v0.7h-5.6v4h6.3v0.7H130z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M148,98.8v-8.5l-3.9,5.7H144l-3.9-5.7v8.5h-0.7V89h0.7l3.9,5.8L148,89h0.7v9.8H148z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M158.5,93.4c-0.2,0.4-0.5,0.7-0.8,1c-0.4,0.3-0.8,0.5-1.2,0.6s-1,0.2-1.5,0.2h-2.7v3.7h-0.7V89h3.6
                                            c0.5,0,1,0.1,1.5,0.2s0.8,0.3,1.2,0.6c0.3,0.3,0.6,0.6,0.8,0.9s0.3,0.8,0.3,1.3v0C158.8,92.6,158.7,93,158.5,93.4z M158.1,92.1
                                            c0-0.4-0.1-0.7-0.2-1c-0.1-0.3-0.3-0.5-0.6-0.7c-0.3-0.2-0.6-0.3-0.9-0.5c-0.4-0.1-0.8-0.2-1.2-0.2h-2.8v4.8h2.7
                                            c0.5,0,0.9-0.1,1.2-0.2s0.7-0.3,1-0.5c0.3-0.2,0.5-0.5,0.6-0.8C158,92.8,158.1,92.4,158.1,92.1L158.1,92.1z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M161,98.8V89h0.7v9.2h5.8v0.7H161z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M178.2,95.8c-0.2,0.6-0.6,1.2-1,1.6c-0.4,0.5-1,0.8-1.6,1.1s-1.3,0.4-2,0.4c-0.7,0-1.4-0.1-2-0.4
                                            c-0.6-0.3-1.1-0.6-1.5-1.1c-0.4-0.5-0.8-1-1-1.6c-0.2-0.6-0.4-1.2-0.4-1.9v0c0-0.7,0.1-1.3,0.4-1.9c0.2-0.6,0.6-1.2,1-1.6
                                            c0.4-0.5,0.9-0.8,1.6-1.1c0.6-0.3,1.3-0.4,2-0.4c0.7,0,1.4,0.1,2,0.4c0.6,0.3,1.1,0.6,1.6,1.1c0.4,0.5,0.8,1,1,1.6
                                            c0.2,0.6,0.4,1.2,0.4,1.9c0,0,0,0,0,0C178.6,94.6,178.4,95.2,178.2,95.8z M177.8,93.9c0-0.6-0.1-1.2-0.3-1.7
                                            c-0.2-0.5-0.5-1-0.9-1.4c-0.4-0.4-0.8-0.7-1.3-0.9c-0.5-0.2-1.1-0.4-1.7-0.4c-0.6,0-1.2,0.1-1.7,0.3c-0.5,0.2-1,0.5-1.3,0.9
                                            s-0.7,0.9-0.9,1.4c-0.2,0.5-0.3,1.1-0.3,1.7v0c0,0.6,0.1,1.2,0.3,1.7c0.2,0.5,0.5,1,0.9,1.4c0.4,0.4,0.8,0.7,1.3,0.9
                                            s1.1,0.4,1.7,0.4c0.6,0,1.2-0.1,1.7-0.3c0.5-0.2,0.9-0.5,1.3-0.9c0.4-0.4,0.7-0.9,0.9-1.4C177.7,95.1,177.8,94.6,177.8,93.9
                                            L177.8,93.9z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M181.1,98.8V89h0.7v9.8H181.1z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="st3" d="M122.9,81.8c-0.1,0.2-0.3,0.4-0.5,0.5c-0.2,0.1-0.4,0.2-0.7,0.3c-0.3,0.1-0.5,0.1-0.8,0.1h-1.4v2h-0.4v-5.4
                                            h1.9c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.5,0.2,0.6,0.3s0.3,0.3,0.4,0.5c0.1,0.2,0.1,0.4,0.1,0.7v0C123,81.3,123,81.5,122.9,81.8z
                                            M122.6,81c0-0.2,0-0.4-0.1-0.6s-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2-0.1-0.4-0.1-0.7-0.1h-1.5v2.6h1.5
                                            c0.2,0,0.5,0,0.7-0.1c0.2-0.1,0.4-0.1,0.5-0.3c0.1-0.1,0.3-0.3,0.3-0.4C122.6,81.4,122.6,81.2,122.6,81L122.6,81z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M129.2,83.1c-0.1,0.3-0.3,0.6-0.5,0.9c-0.2,0.3-0.5,0.5-0.9,0.6s-0.7,0.2-1.1,0.2c-0.4,0-0.8-0.1-1.1-0.2
                                            c-0.3-0.2-0.6-0.4-0.8-0.6s-0.4-0.5-0.5-0.9c-0.1-0.3-0.2-0.7-0.2-1v0c0-0.4,0.1-0.7,0.2-1.1c0.1-0.3,0.3-0.6,0.5-0.9
                                            c0.2-0.3,0.5-0.5,0.8-0.6c0.3-0.2,0.7-0.2,1.1-0.2c0.4,0,0.8,0.1,1.1,0.2c0.3,0.2,0.6,0.4,0.8,0.6c0.2,0.3,0.4,0.5,0.5,0.9
                                            c0.1,0.3,0.2,0.7,0.2,1c0,0,0,0,0,0C129.4,82.4,129.3,82.8,129.2,83.1z M129,82c0-0.3-0.1-0.6-0.2-0.9c-0.1-0.3-0.3-0.5-0.5-0.8
                                            c-0.2-0.2-0.4-0.4-0.7-0.5c-0.3-0.1-0.6-0.2-0.9-0.2c-0.3,0-0.6,0.1-0.9,0.2c-0.3,0.1-0.5,0.3-0.7,0.5s-0.4,0.5-0.5,0.8
                                            c-0.1,0.3-0.2,0.6-0.2,0.9v0c0,0.3,0.1,0.6,0.2,0.9c0.1,0.3,0.3,0.5,0.5,0.8c0.2,0.2,0.4,0.4,0.7,0.5s0.6,0.2,0.9,0.2
                                            c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.3,0.7-0.5c0.2-0.2,0.4-0.5,0.5-0.8C128.9,82.7,129,82.4,129,82L129,82z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M134.9,83.5c-0.1,0.3-0.3,0.5-0.5,0.7c-0.2,0.2-0.4,0.3-0.7,0.5c-0.3,0.1-0.6,0.2-0.9,0.2
                                            c-0.3,0-0.6,0-0.9-0.1s-0.5-0.2-0.7-0.4s-0.3-0.4-0.5-0.7s-0.2-0.6-0.2-1v-3.1h0.4v3.1c0,0.6,0.2,1.1,0.5,1.5
                                            c0.3,0.3,0.8,0.5,1.3,0.5c0.3,0,0.5,0,0.7-0.1c0.2-0.1,0.4-0.2,0.6-0.4c0.2-0.2,0.3-0.4,0.4-0.6c0.1-0.2,0.1-0.5,0.1-0.8v-3.1
                                            h0.4v3.1C135,82.8,135,83.2,134.9,83.5z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M140.4,84.7l-1.7-2.2h-1.8v2.2h-0.4v-5.4h2.2c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.4,0.2,0.6,0.3
                                            c0.2,0.1,0.3,0.3,0.4,0.5c0.1,0.2,0.1,0.4,0.1,0.6v0c0,0.2,0,0.4-0.1,0.6s-0.2,0.3-0.3,0.5s-0.3,0.2-0.5,0.3s-0.4,0.1-0.6,0.2
                                            l1.8,2.3H140.4z M140.3,80.9c0-0.4-0.1-0.6-0.4-0.9c-0.3-0.2-0.6-0.3-1.1-0.3h-1.8v2.4h1.8c0.2,0,0.4,0,0.6-0.1
                                            c0.2-0.1,0.4-0.1,0.5-0.2s0.2-0.2,0.3-0.4S140.3,81.1,140.3,80.9L140.3,80.9z"/>
                                    </g>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="111.3" y="38" class="st2" width="2.1" height="11.9"/>
                                </g>
                                <g>
                                    <rect x="106.4" y="42.9" class="st2" width="11.9" height="2.1"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="121.8" y="46.6" class="st0" width="0.9" height="7.6"/>
                                </g>
                                <g>
                                    <rect x="118.5" y="50" class="st0" width="7.6" height="0.9"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="29.5" y="91.2" class="st2" width="0.7" height="2.9"/>
                                </g>
                                <g>
                                    <rect x="28.4" y="92.3" class="st2" width="2.9" height="0.7"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="190.8" y="110.1" class="st2" width="1" height="5.7"/>
                                </g>
                                <g>
                                    <rect x="188.5" y="112.4" class="st2" width="5.7" height="1"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="35" y="92.9" class="st0" width="0.9" height="7.6"/>
                                </g>
                                <g>
                                    <rect x="31.6" y="96.3" class="st0" width="7.6" height="0.9"/>
                                </g>
                            </g>
                        </g>
                        </svg>
                    </div>
                    <div class="links">
                        <div class="home">
                            <p>
                                <a href="{{ path('home') }}">Accueil</a>
                            </p>
                        </div>
                        <ul>
                            <li><a href="">Parcours</a></li>
                            <div class="separation"></div>
                            <li><a href="{{ path('plan') }}">Infos-Plan</a></li>
                            <div class="separation"></div>
                            <li><a href="{{path('emplois')}}">Liste des emplois</a></li>
                            <div class="separation"></div>
                            {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            	<li><a href="{{ path('user_deconnexion') }}">Se déconnecter</a></li>
                            {% else %}
                            	<li><a href="{{ path('user_connexion') }}">Se connecter</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div>
                        <div class="close-menu">
                            <div class="cross">
                                <svg version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                                    x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                <style type="text/css">
                                    .st02{fill:#F4434E;}
                                    .st12{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                                </style>
                                <defs>
                                </defs>
                                <circle class="st02" cx="25" cy="25" r="25"/>
                                <polyline class="st12" points="16,34 25,25 34,16 "/>
                                <polyline class="st12" points="16,16 25,25 34,34 "/>
                                </svg>
                            </div>
                            <p>
                                Fermer le menu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="background-img">
                    <img src="{{ asset('images/fille_desaturate_degrade.png') }}" alt="">
                </div>
            </div>
            <div class="inner"></div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="container-burger">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 164.11 164.11"><defs><style>.cls-1{fill:#f5f5f5;}.cls-2{fill:#f4434e;}.cls-3{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:5px;}</style></defs><title>Fichier 1</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><circle class="cls-1" cx="82.05" cy="82.05" r="82.05"/><circle class="cls-2" cx="82.05" cy="82.05" r="69.71"/><line class="cls-3" x1="50.78" y1="54.12" x2="112.82" y2="54.12"/><line class="cls-3" x1="51.76" y1="82.05" x2="113.8" y2="82.05"/><line class="cls-3" x1="50.3" y1="109.99" x2="112.34" y2="109.99"/></g></g></svg>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="logo header">
                            <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 222.4 157.3" style="enable-background:new 0 0 222.4 157.3;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#25384D;}
                                .st1{fill:#CD434E;}
                                .st2{fill:#F4434E;}
                                .st3{fill:#FFFFFF;}
                            </style>
                            <g>
                                <g>
                                    <path class="st0" d="M190.7,76.8v25c0,4.1-3.5,7.3-7.9,7.3h-99c-4.4,0-7.9-3.3-7.9-7.3v-11h7.2l12.3,11.5L93,90.7h13.5
                                        c3.2,0,5.8-3.3,5.8-7.3v-14h70.5C187.2,69.4,190.7,72.7,190.7,76.8z"/>
                                </g>
                                <g>
                                    <path class="st1" d="M112.3,69.4v14c0,4-2.6,7.3-5.8,7.3H93l2.4,11.5L83.1,90.7H76v-14c0-4.1,3.5-7.3,7.9-7.3H112.3z"/>
                                </g>
                                <g>
                                    <path class="st2" d="M112.3,58.4v11H83.8c-4.4,0-7.9,3.3-7.9,7.3v14H34.2c-3.2,0-5.8-3.3-5.8-7.3v-25c0-4,2.6-7.3,5.8-7.3h72.3
                                        C109.7,51.1,112.3,54.3,112.3,58.4z"/>
                                </g>
                                <g>
                                    <polygon class="st0" points="168.9,109.1 156.7,120.1 157.7,109.1 		"/>
                                </g>
                                <g>
                                    <g>
                                        <path class="st3" d="M40.4,67.2v2.7h6v2.5h-6v4.8h-2.8V64.7h9.5v2.5H40.4z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M61.6,73.4c-0.3,0.8-0.8,1.5-1.4,2.1c-0.6,0.6-1.3,1.1-2.1,1.4c-0.8,0.3-1.7,0.5-2.7,0.5
                                            c-1,0-1.9-0.2-2.7-0.5c-0.8-0.3-1.5-0.8-2.1-1.4c-0.6-0.6-1-1.3-1.4-2c-0.3-0.8-0.5-1.6-0.5-2.5v0c0-0.9,0.2-1.7,0.5-2.5
                                            c0.3-0.8,0.8-1.5,1.4-2.1c0.6-0.6,1.3-1.1,2.1-1.4s1.7-0.5,2.7-0.5c1,0,1.9,0.2,2.7,0.5s1.5,0.8,2.1,1.4c0.6,0.6,1,1.3,1.4,2
                                            s0.5,1.6,0.5,2.5v0C62.1,71.8,62,72.7,61.6,73.4z M59.3,70.9c0-0.5-0.1-1-0.3-1.5c-0.2-0.5-0.4-0.9-0.8-1.2
                                            c-0.3-0.4-0.7-0.6-1.2-0.8c-0.5-0.2-1-0.3-1.5-0.3c-0.6,0-1.1,0.1-1.5,0.3c-0.5,0.2-0.9,0.5-1.2,0.8c-0.3,0.4-0.6,0.8-0.8,1.2
                                            c-0.2,0.5-0.3,1-0.3,1.5v0c0,0.5,0.1,1,0.3,1.5c0.2,0.5,0.4,0.9,0.8,1.2c0.3,0.4,0.7,0.6,1.2,0.8c0.5,0.2,1,0.3,1.5,0.3
                                            c0.5,0,1.1-0.1,1.5-0.3c0.5-0.2,0.9-0.5,1.2-0.8c0.3-0.4,0.6-0.8,0.8-1.2C59.2,72,59.3,71.5,59.3,70.9L59.3,70.9z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M72.2,77.2l-2.7-4h-2.2v4h-2.8V64.7h5.7c1.5,0,2.6,0.4,3.5,1.1c0.8,0.7,1.2,1.7,1.2,3v0c0,1-0.2,1.8-0.7,2.5
                                            c-0.5,0.6-1.1,1.1-1.9,1.4l3.1,4.5H72.2z M72.2,69c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-0.9-0.4-1.6-0.4h-2.7v3.6h2.8
                                            c0.7,0,1.2-0.2,1.6-0.5C72,70,72.2,69.5,72.2,69L72.2,69z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M87.8,74.2c-0.3,0.7-0.6,1.3-1.1,1.8c-0.5,0.5-1.1,0.8-1.7,1.1c-0.7,0.2-1.4,0.3-2.3,0.3c-1.7,0-3-0.5-4-1.4
                                            c-1-0.9-1.4-2.3-1.4-4.2v-7.1H80v7.1c0,1,0.2,1.8,0.7,2.3c0.5,0.5,1.1,0.8,2,0.8s1.5-0.2,2-0.8s0.7-1.2,0.7-2.3v-7.2h2.8v7.1
                                            C88.2,72.7,88.1,73.5,87.8,74.2z"/>
                                    </g>
                                    <g>
                                        <path class="st3" d="M100.8,77.2V69l-3.5,5.3h-0.1l-3.5-5.3v8.1H91V64.7h3l3.3,5.3l3.3-5.3h3v12.5H100.8z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <g>
                                            <path class="st3" d="M118.7,98.8V89h0.7v9.2h5.8v0.7H118.7z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M126.8,90.9c0.1-0.2,0.2-0.4,0.2-0.7h-0.4V89h0.9v1c0,0.4-0.1,0.8-0.3,1c-0.2,0.3-0.5,0.5-0.9,0.6l-0.2-0.4
                                                C126.5,91.2,126.7,91,126.8,90.9z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M130,98.8V89h7v0.7h-6.3v3.9h5.6v0.7h-5.6v4h6.3v0.7H130z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M148,98.8v-8.5l-3.9,5.7H144l-3.9-5.7v8.5h-0.7V89h0.7l3.9,5.8L148,89h0.7v9.8H148z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M158.5,93.4c-0.2,0.4-0.5,0.7-0.8,1c-0.4,0.3-0.8,0.5-1.2,0.6s-1,0.2-1.5,0.2h-2.7v3.7h-0.7V89h3.6
                                                c0.5,0,1,0.1,1.5,0.2s0.8,0.3,1.2,0.6c0.3,0.3,0.6,0.6,0.8,0.9s0.3,0.8,0.3,1.3v0C158.8,92.6,158.7,93,158.5,93.4z M158.1,92.1
                                                c0-0.4-0.1-0.7-0.2-1c-0.1-0.3-0.3-0.5-0.6-0.7c-0.3-0.2-0.6-0.3-0.9-0.5c-0.4-0.1-0.8-0.2-1.2-0.2h-2.8v4.8h2.7
                                                c0.5,0,0.9-0.1,1.2-0.2s0.7-0.3,1-0.5c0.3-0.2,0.5-0.5,0.6-0.8C158,92.8,158.1,92.4,158.1,92.1L158.1,92.1z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M161,98.8V89h0.7v9.2h5.8v0.7H161z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M178.2,95.8c-0.2,0.6-0.6,1.2-1,1.6c-0.4,0.5-1,0.8-1.6,1.1s-1.3,0.4-2,0.4c-0.7,0-1.4-0.1-2-0.4
                                                c-0.6-0.3-1.1-0.6-1.5-1.1c-0.4-0.5-0.8-1-1-1.6c-0.2-0.6-0.4-1.2-0.4-1.9v0c0-0.7,0.1-1.3,0.4-1.9c0.2-0.6,0.6-1.2,1-1.6
                                                c0.4-0.5,0.9-0.8,1.6-1.1c0.6-0.3,1.3-0.4,2-0.4c0.7,0,1.4,0.1,2,0.4c0.6,0.3,1.1,0.6,1.6,1.1c0.4,0.5,0.8,1,1,1.6
                                                c0.2,0.6,0.4,1.2,0.4,1.9c0,0,0,0,0,0C178.6,94.6,178.4,95.2,178.2,95.8z M177.8,93.9c0-0.6-0.1-1.2-0.3-1.7
                                                c-0.2-0.5-0.5-1-0.9-1.4c-0.4-0.4-0.8-0.7-1.3-0.9c-0.5-0.2-1.1-0.4-1.7-0.4c-0.6,0-1.2,0.1-1.7,0.3c-0.5,0.2-1,0.5-1.3,0.9
                                                s-0.7,0.9-0.9,1.4c-0.2,0.5-0.3,1.1-0.3,1.7v0c0,0.6,0.1,1.2,0.3,1.7c0.2,0.5,0.5,1,0.9,1.4c0.4,0.4,0.8,0.7,1.3,0.9
                                                s1.1,0.4,1.7,0.4c0.6,0,1.2-0.1,1.7-0.3c0.5-0.2,0.9-0.5,1.3-0.9c0.4-0.4,0.7-0.9,0.9-1.4C177.7,95.1,177.8,94.6,177.8,93.9
                                                L177.8,93.9z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M181.1,98.8V89h0.7v9.8H181.1z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st3" d="M122.9,81.8c-0.1,0.2-0.3,0.4-0.5,0.5c-0.2,0.1-0.4,0.2-0.7,0.3c-0.3,0.1-0.5,0.1-0.8,0.1h-1.4v2h-0.4v-5.4
                                                h1.9c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.5,0.2,0.6,0.3s0.3,0.3,0.4,0.5c0.1,0.2,0.1,0.4,0.1,0.7v0C123,81.3,123,81.5,122.9,81.8z
                                                M122.6,81c0-0.2,0-0.4-0.1-0.6s-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2-0.1-0.4-0.1-0.7-0.1h-1.5v2.6h1.5
                                                c0.2,0,0.5,0,0.7-0.1c0.2-0.1,0.4-0.1,0.5-0.3c0.1-0.1,0.3-0.3,0.3-0.4C122.6,81.4,122.6,81.2,122.6,81L122.6,81z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M129.2,83.1c-0.1,0.3-0.3,0.6-0.5,0.9c-0.2,0.3-0.5,0.5-0.9,0.6s-0.7,0.2-1.1,0.2c-0.4,0-0.8-0.1-1.1-0.2
                                                c-0.3-0.2-0.6-0.4-0.8-0.6s-0.4-0.5-0.5-0.9c-0.1-0.3-0.2-0.7-0.2-1v0c0-0.4,0.1-0.7,0.2-1.1c0.1-0.3,0.3-0.6,0.5-0.9
                                                c0.2-0.3,0.5-0.5,0.8-0.6c0.3-0.2,0.7-0.2,1.1-0.2c0.4,0,0.8,0.1,1.1,0.2c0.3,0.2,0.6,0.4,0.8,0.6c0.2,0.3,0.4,0.5,0.5,0.9
                                                c0.1,0.3,0.2,0.7,0.2,1c0,0,0,0,0,0C129.4,82.4,129.3,82.8,129.2,83.1z M129,82c0-0.3-0.1-0.6-0.2-0.9c-0.1-0.3-0.3-0.5-0.5-0.8
                                                c-0.2-0.2-0.4-0.4-0.7-0.5c-0.3-0.1-0.6-0.2-0.9-0.2c-0.3,0-0.6,0.1-0.9,0.2c-0.3,0.1-0.5,0.3-0.7,0.5s-0.4,0.5-0.5,0.8
                                                c-0.1,0.3-0.2,0.6-0.2,0.9v0c0,0.3,0.1,0.6,0.2,0.9c0.1,0.3,0.3,0.5,0.5,0.8c0.2,0.2,0.4,0.4,0.7,0.5s0.6,0.2,0.9,0.2
                                                c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.3,0.7-0.5c0.2-0.2,0.4-0.5,0.5-0.8C128.9,82.7,129,82.4,129,82L129,82z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M134.9,83.5c-0.1,0.3-0.3,0.5-0.5,0.7c-0.2,0.2-0.4,0.3-0.7,0.5c-0.3,0.1-0.6,0.2-0.9,0.2
                                                c-0.3,0-0.6,0-0.9-0.1s-0.5-0.2-0.7-0.4s-0.3-0.4-0.5-0.7s-0.2-0.6-0.2-1v-3.1h0.4v3.1c0,0.6,0.2,1.1,0.5,1.5
                                                c0.3,0.3,0.8,0.5,1.3,0.5c0.3,0,0.5,0,0.7-0.1c0.2-0.1,0.4-0.2,0.6-0.4c0.2-0.2,0.3-0.4,0.4-0.6c0.1-0.2,0.1-0.5,0.1-0.8v-3.1
                                                h0.4v3.1C135,82.8,135,83.2,134.9,83.5z"/>
                                        </g>
                                        <g>
                                            <path class="st3" d="M140.4,84.7l-1.7-2.2h-1.8v2.2h-0.4v-5.4h2.2c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.4,0.2,0.6,0.3
                                                c0.2,0.1,0.3,0.3,0.4,0.5c0.1,0.2,0.1,0.4,0.1,0.6v0c0,0.2,0,0.4-0.1,0.6s-0.2,0.3-0.3,0.5s-0.3,0.2-0.5,0.3s-0.4,0.1-0.6,0.2
                                                l1.8,2.3H140.4z M140.3,80.9c0-0.4-0.1-0.6-0.4-0.9c-0.3-0.2-0.6-0.3-1.1-0.3h-1.8v2.4h1.8c0.2,0,0.4,0,0.6-0.1
                                                c0.2-0.1,0.4-0.1,0.5-0.2s0.2-0.2,0.3-0.4S140.3,81.1,140.3,80.9L140.3,80.9z"/>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="111.3" y="38" class="st2" width="2.1" height="11.9"/>
                                    </g>
                                    <g>
                                        <rect x="106.4" y="42.9" class="st2" width="11.9" height="2.1"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="121.8" y="46.6" class="st0" width="0.9" height="7.6"/>
                                    </g>
                                    <g>
                                        <rect x="118.5" y="50" class="st0" width="7.6" height="0.9"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="29.5" y="91.2" class="st2" width="0.7" height="2.9"/>
                                    </g>
                                    <g>
                                        <rect x="28.4" y="92.3" class="st2" width="2.9" height="0.7"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="190.8" y="110.1" class="st2" width="1" height="5.7"/>
                                    </g>
                                    <g>
                                        <rect x="188.5" y="112.4" class="st2" width="5.7" height="1"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="35" y="92.9" class="st0" width="0.9" height="7.6"/>
                                    </g>
                                    <g>
                                        <rect x="31.6" y="96.3" class="st0" width="7.6" height="0.9"/>
                                    </g>
                                </g>
                            </g>
                            </svg>
                        </div>
                    </div>
                </div>
                        
            </div>
        </nav>
    </header>
    <div class="container parent">
    {% block body %}{% endblock %}
    </div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('plugins/jquery-3.3.1/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-4.1.3/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/select2-4.0.6-rc.1/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('plugins/icheck-1.x/icheck.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/header.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>
