{% extends 'base.html.twig' %}

{% block title %}
	Emplois
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/emplois.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	
	<div class="row">
		<div class="col col-12">
			<h1 class="title-forum">Liste des emplois</h1>
			<p class="text-center color-grey">Cliquer sur un onglet pour découvrir les offres d’emplois susceptibles de vous intéresser</p>

			<a class="btn btn-show-emplois">Enseignement/Formation <i class="fas fa-angle-right float-right"></i></a>
			<div class="container-emplois">
				<table>
					<tbody>
						<tr class="border-bottom-form">
							<td>Nom du poste</td>
							<td>Inscrits</td>
							<td>Numéro de box</td>
							<td></td>
						</tr>
						<tr class="border-bottom-form">
							<td>Formateur d’adultes</td>
							<td>12</td>
							<td>35</td>
							<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
						</tr>
						<tr class="border-bottom-form">
							<td>Professeur d’Espagnol</td>
							<td>190</td>
							<td>100</td>
							<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
						</tr>
						<tr class="border-bottom-form hidden">
							<td>Formateur transport</td>
							<td>14</td>
							<td>56</td>
							<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
						</tr>
					</tbody>
				</table>
				<a class="btn btn-plus-offre text-center" href="{{ path('enseignement_formation') }}"><i class="fas fa-plus"></i> Voir plus d’offres</a>
			</div>

			<a class="btn btn-show-emplois">International <i class="fas fa-angle-right float-right"></i></a>
			<div class="container-emplois">
				<table>
					<tbody>
						<tr class="border-bottom-form">
							<td>Nom du poste</td>
							<td>Inscrits</td>
							<td></td>
						</tr>
						<tr class="border-bottom-form">
							<td>Commercial</td>
							<td>6</td>
							<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
						</tr>
						<tr class="border-bottom-form">
							<td>Chef de partie</td>
							<td>190</td>
							<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
						</tr>
						<tr class="border-bottom-form hidden">
							<td>Formateur transport</td>
							<td>4</td>
							<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
						</tr>
					</tbody>
				</table>
				
				<p class="text-center color-grey">Il n’y a pas d’autre offre disponible</p>
			</div>

			<a class="btn btn-tous-choix text-center"><i class="fas fa-check"></i> J'ai fais tous mes choix</a>

		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/emplois.js') }}"></script>
{% endblock %}