{% extends 'base.html.twig' %}

{% block title %}
	Enseignement/Formation
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/emplois.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	
	<div class="row">
		<div class="col col-12">

			<div class="emplois-valid-logo-container">
				<img class="inscription-valid-logo" src="{{ asset('images/rond-02.svg') }}">
			</div>

			<h1 class="title-forum">Vos choix ont bien été pris en compte </h1>

			<p class="text-center color-grey">Ci-dessous, la liste des offres sélectionnées ainsi que leur numéro de stand</p>

			<table>
				<tbody>
					<tr class="border-bottom-form">
						<td>Nom du poste</td>
						<td>Inscrits</td>
						<td></td>
					</tr>
					<tr class="border-bottom-form">
						<td>Assistant de formation</td>
						<td>12</td>
						<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
					</tr>
					<tr class="border-bottom-form">
						<td>Formateur logistique</td>
						<td>190</td>
						<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
					</tr>
					<tr class="border-bottom-form hidden">
						<td>Professeur d’école remplaçant</td>
						<td>4</td>
						<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
					</tr>
				</tbody>
			</table>

			<div class="form-group text-center">
				<a href="{{ path('home') }}" style="width:100%;margin-bottom:15px;" class="btn btn-black" type="button">RETOUR À LA PAGE D’ACCUEIL</a>
			</div>

		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/emplois.js') }}"></script>
{% endblock %}