{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div class="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <span id="number">1980</span> 
                        <span id="text-1">offres d'emploies, <br> des rencontres avec des entreprises <br></span>
                        <span id="text-2">ça te tente ?</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <img src="{{ asset('images/girl-phone.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="partner">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="yes-call">
                            <button class="btn">Oui ça me tente</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="title">
                            <p>
                                En association avec 
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="img">
                            <img src="{{ asset('images/aldevlogocolor.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}