{% extends 'base.html.twig' %}

{% block title %}
	Enseignement/Formation
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/emplois.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	
	<div class="row">
		<div class="col col-12">

			<h1 class="title-forum">Liste des emplois</h1>
			<p class="text-center color-grey">Il y a 6 postes supplémentaires disponibles dans ce domaine</p>

			<a class="btn btn-title-emplois">International</a>
			<table>
				<tbody>
					<tr class="border-bottom-form">
						<td>Nom du poste</td>
						<td>Inscrits</td>
						<td>Numéro de box</td>
						<td></td>
					</tr>
					<tr class="border-bottom-form">
						<td>Assistant de formation</td>
						<td>12</td>
						<td>50</td>
						<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
					</tr>
					<tr class="border-bottom-form">
						<td>Formateur logistique</td>
						<td>190</td>
						<td>150</td>
						<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
					</tr>
					<tr class="border-bottom-form">
						<td>Professeur d’école remplaçant</td>
						<td>4</td>
						<td>360</td>
						<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
					</tr>
					<tr class="border-bottom-form">
						<td>Professeur de collège et lycée remplaçant</td>
						<td>4</td>
						<td>45</td>
						<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
					</tr>
					<tr class="border-bottom-form">
						<td>Professeur de Lettres Modernes</td>
						<td>4</td>
						<td>85</td>
						<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
					</tr>
					<tr class="border-bottom-form hidden">
						<td>Assistant de formation</td>
						<td>12</td>
						<td>39</td>
						<td><button class="btn btn-plus"><i class="fas fa-plus"></i></button></td>
					</tr>
				</tbody>
			</table>

			<div class="form-group text-center">
				<button style="width:100%;" class="btn btn-black" type="button">Valider</button>
			</div>

		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/emplois.js') }}"></script>
{% endblock %}