{% extends 'base.html.twig' %}

{% block title %}
    Plan
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/plan.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col col-12">

            <h1 class="title-forum">Plan de la salle</h1>

            <p class="color-grey text-center">Tu retrouveras ci-dessous le plan du parc des Expositions d’Angers, regroupant les box</p>

            <h1 class="title-forum">Infos sur la journée</h1>

            <div class="plan-container">
                <div class="plan-img-container">
                    <img class="plan-img" src="{{ asset('images/plan.jpg') }}">

                    <div class="plan-img-before">
                        <img src="{{ asset('images/icon/search.png') }}">
                        <p>Clique ici pour agrandir le plan</p>
                    </div>
                </div>
            </div>


         {#    <p class="color-grey text-center">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque eopsloi laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunot explicabo. Nemo ernim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sedopk quia consequuntur magni dolores eos qui rationesopl voluptatem sequi nesciunt. Neque porro quisquameo est, qui dolorem ipsum quia dolor sit amet, eopsmiep consectetur, adipisci velit, seisud quia non numquam eius modi tempora incidunt ut labore et dolore wopeir magnam aliquam quaerat voluptatem eoplmuriquisqu</p> #}

            <div class="zoom-plan">
                <div class="btn-close-zoom-plan">
                    <svg version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                        x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                    <style type="text/css">
                        .st02{fill:#F4434E;}
                        .st12{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                    </style>
                    <defs>
                    </defs>
                    <circle class="st02" cx="25" cy="25" r="25"/>
                    <polyline class="st12" points="16,34 25,25 34,16 "/>
                    <polyline class="st12" points="16,16 25,25 34,34 "/>
                    </svg>
                </div>
                <div class="plan-img">
                    <img class="plan-img" src="{{ asset('images/plan.jpg') }}">
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/plan.js') }}"></script>
{% endblock %}